---
const platform = "github";
const username = "withastro";
---

<footer>
  <p>
    Learn more about my projects on <a
      href={`https://www.${platform}.com/${username}`}>{platform}</a
    >!
  </p>
</footer>
<style>
  footer {
    background-color: #f8f9fa;
    padding: 1rem;
    text-align: center;
    font-size: 0.875rem;
  }

  footer a {
    color: #007bff;
    text-decoration: none;
  }

  footer a:hover {
    text-decoration: underline;
  }
</style>
